.idea
JellyTune.Gnome/bin
JellyTune.Gnome/obj
JellyTune.Shared/bin
JellyTune.Shared/obj
JellyTune.Test/bin
JellyTune.Test/obj
JellyTune.Gnome/.DS_Store
JellyTune.Shared/.DS_Store
.DS_Store
Deploy
*.user
