.album-art-big {
  border-radius: 12px;
}
.album-art-small {
    border-radius: 6px;
}
.scale-label {
    min-width: 50px;
}

/* Application background related */
.top-bar, headerbar {
    transition: background-color 500ms ease-in-out;
}
list {
    transition: background-color 500ms ease-in-out;
}
list > row {
    transition: background-color 500ms ease-in-out;
}
list > row:hover {
    transition: background-color 500ms ease-in-out;
}
listview, listview > row {
    transition: background-color 500ms ease-in-out;
}
listview > row:hover {
    transition: background-color 500ms ease-in-out;
}
gridview, gridview > row {
    transition: background-color 500ms ease-in-out;
}
gridview > row:hover {
    transition: background-color 500ms ease-in-out;
}
.background-blur .top-bar, headerbar {
    background-color: rgba(0, 0, 0, 0.1);
}
.background-blur list {
    background-color: rgba(255, 255, 255, 0.1);
}
.background-blur list > row {
    background-color: transparent;
}
.background-blur list > row:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.background-blur listview, .background-blur listview > row {
    background-color: transparent;
}
.background-blur listview > row:hover {
    background-color: rgba(255, 255, 255, 0.08);
}
.background-blur gridview, .background-blur gridview > row {
    background-color: transparent;
}
.background-blur gridview > row:hover {
    background-color: rgba(255, 255, 255, 0.08);
}
.background-blur .background-tint {
    background-color: rgba(0, 0, 0, 0.60);
}
@media (prefers-color-scheme: light) {
    .background-blur .background-tint {
        background-color: rgba(255, 255, 255, 0.60);
    }
}

